h1, h2, p { text-align: center; }
h1 { font-size: 4rem; }
#vraag { font-weight: normal; }
#antwoord { font-size: 10rem; font-weight: normal; }
#menu li { display: inline; }
#wrapper { width: 960px; margin: 0 auto; }
#instellingen, #uitleg, #over, #kanji_overzicht { display: none; }
.hidden_bullets li { list-style: none; }
#knopjes { display: grid; place-items: center; }
.chapter_words { list-style-type: none; padding: 0; margin: 0; }
.chapter_words li { display: inline; font-size: 3rem; }
